<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletProject</display-name>
  
  <!-- <servlet>
	<servlet-name>Hello</servlet-name>
	<servlet-class>com.test.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Hello</servlet-name>
  	<url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Hello</servlet-name>
  	<url-pattern>/H</url-pattern>
  </servlet-mapping> -->
  
  <servlet>
	<servlet-name>Login</servlet-name>
	<servlet-class>com.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>LoginCheck</servlet-name>
	<servlet-class>com.login.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginCheck</servlet-name>
  	<url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>Logout</servlet-name>
	<servlet-class>com.login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>Member</servlet-name>
	<servlet-class>com.test.MemeberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Member</servlet-name>
  	<url-pattern>/Member</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Member</servlet-name>
  	<url-pattern>/M</url-pattern>
  </servlet-mapping>
  
  <!-- WebApplication 전체에서 사용하는 파라미터 -->
  <context-param>
  	<param-name>company</param-name>
  	<param-value>GlobalIn(주)</param-value>
  </context-param>
  <context-param>
  	<param-name>manager</param-name>
  	<param-value>jeoung sub Kim</param-value>
  </context-param>
  
  <!-- Servlet Config Api를 활용한 초기 파라미터 설정 -->
  <servlet>
  	<servlet-name>InitParam</servlet-name>
  	<servlet-class>com.bbs.MemeberServlet</servlet-class>
  	<init-param>
  		<param-name>tel</param-name>
  		<param-value>010-1111-1111</param-value>
  	</init-param>
  	<init-param>
  		<param-name>email</param-name>
  		<param-value>hong@naver.com</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>InitParam</servlet-name>
  	<url-pattern>/InitParam</url-pattern>
  </servlet-mapping>
  
  <!-- Listener 설정 -->
  <!-- <listener>  
  	<listener-class>com.test2.ContextListenerImpl</listener-class>
  </listener> -->
  
  <!-- Filter 등록 -->
  <filter>
  	<filter-name>myFilter</filter-name>
  	<filter-class>com.test2.MyFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>myFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <!-- error 페이지 설정 -->
  <error-page>
  	<error-code>404</error-code>
  	<!-- <location>/error/error404.jsp</location> -->
  	<location>/waitseries/wait.jsp</location>
  </error-page>
<!--   <error-page> -->
<!--   	<error-code>500</error-code> -->
<!--   	<location>/error/error500.jsp</location> -->
<!--   </error-page> -->
  
<!--   el-function관련 설정 -->
  <jsp-config>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/el-functions.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/el-functions.tld</taglib-location>
	</taglib>
  </jsp-config>
  
  <!-- mvc 2 패턴 하면서 추가한거, member용 -->
<!--   <servlet> -->
<!--   	<servlet-name>ControllerURI</servlet-name> -->
<!--   	<servlet-class>com.mvctwo.Controller</servlet-class> -->
<!--   	<init-param> -->
<!--   		<param-name>propertyConfig</param-name> -->
<!--   		<param-value>Command.properties</param-value> -->
<!--   	</init-param> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!-- 	<servlet-name>ControllerURI</servlet-name> -->
<!-- 	<url-pattern>*.do</url-pattern> -->
<!--   </servlet-mapping> -->
  
  <!-- mvc 2 패턴 하면서 추가한거, mvcmem용  -->
  <servlet>
  	<servlet-name>myControl</servlet-name>
  	<servlet-class>com.mvcmem.control.ControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>myControl</servlet-name>
	<url-pattern>*.mdo</url-pattern>
  </servlet-mapping>
  
<!--   board mvc 2패턴 -->
  <servlet>
  	<servlet-name>Controller</servlet-name>
  	<servlet-class>com.boardmvc.controller.ControllerAction</servlet-class>
  	<init-param>
  		<param-name>propertyConfig</param-name>
  		<param-value>CommandPro.properties</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
	<servlet-name>Controller</servlet-name>
	<url-pattern>*.bdo</url-pattern>
  </servlet-mapping>
  
</web-app>